
<head>
  <meta charset="utf-8">

  <meta http-equiv="X-UA-Compatible" content="IE=edge">

<!-- Aqui cambias el titulo por el tuyo -->

  <title>Mallorcaio</title>

<!-- Aqui pones la descripcion de tu pagina approx. 160 caracteres -->
  <meta name="description" content="">

<!-- Esto es para dispositivos moviles -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

<!-- tipografía de google -->
  <link href='http://fonts.googleapis.com/css?family=Cabin:400,500,600,700' rel='stylesheet' type='text/css'>
</head>






<!-- Definimos la estrucura de la pagina global = el Layout -->

<template name="layout">

<!--  aqui es el header  -->
{{yield 'header'}}


<!-- aqui esta todo lo que hay en medio -->
{{yield}}


<!-- aqui es el footer -->
{{yield 'footer'}}


 </template>